body {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  background: #a43952;
  margin: 0;
  padding: 250px;
}
h1 {
  color: #333;
}

.foto1 img {
  max-width: 20%;
  height: auto;
  display: block;
  opacity: 0.8; 
}