body {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  background: #a43952;
  margin: 0;
  padding: 250px;
}
h1 {
  color: #333;
}

.foto1 {
  position: relative;
  max-width: 10%;
  height: 5%;
  display: block;
  opacity: 0.8; 
}