body {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  background: #a43952;
  margin: 0;
  padding: 30px;
}
h1 {
  color: #e4dddd;
  text-align: center;
  
}

img {
  max-width: 15vw;
}

.foto1 {
  display:flex;
  position: relative;
  max-width: 10%;
  height: 5%;
  opacity: 0.8; 
  align-items: center;
}